@import url(sideberyModsLEFT.css); 

/* TabsToolbar */

.tabbrowser-tab {
  visibility: collapse;
}
#nav-bar {
  margin-top: -40px;
  margin-right: 137px;
}
.titlebar-button {
  height: 40px;
}

/* #main-window #TabsToolbar {
    height: 29px !important;
    overflow: hidden;
    transition: height .3s .3s !important;
  } */
#main-window[titlepreface*="Sidebery"] #TabsToolbar {
height: 0 !important;
}
#main-window[titlepreface*="Sidebery"] #tabbrowser-tabs {
z-index: 0 !important;
}
  

/* Sidebery */
#main-window[titlepreface*="φ╢è "] .tabbrowser-tab {
    visibility: collapse !important;
}

#main-window[titlepreface*="φ╢è "] .titlebar-button {
height: 40px !important;
}

#main-window[titlepreface*="φ╢è "] #nav-bar {
margin-top: -40px;
margin-right: 137px;
box-shadow: none !important;
}
#main-window[titlepreface*="φ╢è "] #titlebar-spacer {
background-color: var(--chrome-secondary-background-color);
}

#main-window[titlepreface*="φ╢è "] #titlebar-buttonbox-container {
background-color: var(--chrome-secondary-background-color);
}

#main-window[titlepreface*="φ╢è "] .titlebar-color {
background-color: var(--toolbar-bgcolor);
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-header {
visibility: collapse;
}
